:root {
  --dark-grey: #101d25;
  --light-grey: #232d36;
  --font-1: "Rubik";
}

body {
  /* height: 10rem;
  border: 10px solid red; */
  background-color: var(--dark-grey);
}

.docu {
  /* height: 10rem; */
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  /* border: 3px solid red; */
  /* margin: 1rem; */
}
